<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">

<th:block layout:fragment="content">
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create Amenity</h1>
                            </div>
                            <form class="user" id="amenityForm">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"  name="businessNo"id="businessNo"
                                               placeholder="businessNo" value="testhotel2" th:value="${amenityVO.businessNo}">
                                    </div>

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="itemName" id="itemName"
                                            placeholder="itemName"  th:value="${amenityVO.itemName}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"  name="itemPrice"id="itemPrice"
                                           placeholder="itemPrice" th:value="${amenityVO.itemPrice}">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"  name="stock"id="stock"
                                        placeholder="stock" th:value="${amenityVO.stock}">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user"  name="useYn"id="useYn"
                                           placeholder="useYn" th:value="${amenityVO.useYn}">
                                </div>
                            </form>
                            <hr>
                            <a href="#" onclick="makeAmenity();" class="btn btn-primary btn-user btn-block">
                                update Amenity
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" th:src="@{/js/network.js}"></script>
</body>
 <script>
     function makeAmenity(){
        const obj  = {
                businessNo : $("#businessNo").val(),
                itemName : $("#itemName").val(),
                itemPrice : $("#itemPrice").val(),
                stock : $("#stock").val(),
                useYn  : $("#useYn").val()
           }
           alert(JSON.stringify(obj));
             network.sendApi2('/api/amenity/update', obj, function(data){
               alert("data!!!");
               alert("data:" + data);
               if(data.result == 'SUCCESS') {
                   location.href = '/amenity';
               }
          });

     }

 </script>

</th:block>
</html>