<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">

<th:block layout:fragment="content">
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create reserve</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="guestId"
                                            placeholder="아이디">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="guestName"
                                            placeholder="이름">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="bookingDate"
                                        placeholder="예약일" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="checkIn"
                                           placeholder="체크인">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="checkOut"
                                           placeholder="체크아웃">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="phone"
                                           placeholder="폰">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" th:value="${room.roomType}" id="roomType"
                                           placeholder="룸">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="roomCode" th:value="${room.roomCode}"
                                           placeholder="룸코드">
                                </div>
                            </form>
                            <hr>
                            <a href="#" onclick="reserve();" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" th:src="@{/js/network.js}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
 <script>
  /*  $(function () {
        network.connectApi('/api/payment/paylist',function(data){
             let str = "";
             for(let i = 0; i < data.data.length; i++){
             str += "<tr>";
             str += "<td><a href='/paymentDetail?bookingId="+ data.data[i].bookingId +"'>" + data.data[i].bookingId + "</a></td>";
             str += "<td>" + data.data[i].businessNo +  "</td>";
             str += "<td>" + data.data[i].guestId +  "</td>";
             str += "<td>" + data.data[i].payStatus +  "</td>";
             str += "<td>" + data.data[i].roomPrice +  "</td>";
             str += "</tr>";
             }
             $("#tab").append(str);
         });
   });*/



     function reserve(){
        const obj  = {
                guestName : $("#guestName").val(),
                phone : $("#phone").val(),
                roomType : $("#roomType").val(),
                roomCode  : 's1',
                 bookingDate: '2024-03-19',
                 checkIn   : '2024-03-20',
                 checkOut : '2024-03-21'
                //bookingDate:           #bookingDate
               // checkIn   : $("#checkIn").val(),
                //checkOut : $("#checkOut").val
           }
           alert("obj" + JSON.stringify(obj));
           network.sendApi('/api/reserve/reserve2', obj, function(data){
               alert("data!!!");
               alert("data:" + data);
               if(data.result == 'SUCCESS') {
                   location.href = '/reserve';
               }
          });
     }
     $(function(){
          $( "#bookingDate" ).datepicker({
             format : 'YYYY-MM-DD',
            // endDate : "infinity",
            autoclose : true,
            todayHighlight :true,  // 오늘을 표시해줄지. default 가 false
            endDate: '+90d', // 선택할 수 있는 최대 일자
        }).datepicker("setDate", new Date());
      });

       $(function(){
        $( "#checkIn" ).datepicker();

           $( "#checkOut" ).datepicker();
      });

 </script>

</th:block>
</html>