<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default">

<th:block layout:fragment="content">
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create Room</h1>
                            </div>
                            <form class="user" id="roomForm">
                                <div class="form-group row">

                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="roomType" id="roomType"
                                            placeholder="roomType">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"  name="businessNo"id="businessNo"
                                           placeholder="businessNo" value="testhotel2">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"  name="roomCode"id="roomCode"
                                        placeholder="roomCode">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"  name="stock"id="stock"
                                           placeholder="stock">
                                </div>
                            </form>
                            <hr>
                            <a href="#" onclick="makeRoom();" class="btn btn-primary btn-user btn-block">
                                Register Room11
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>BUSINESS_NO</th>
                            <th>RoomType</th>
                            <th>ROOMCODE</th>
                            <th>STOCK</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>BUSINESS_NO</th>
                            <th>RoomType</th>
                            <th>ROOMCODE</th>
                            <th>STOCK</th>
                        </tr>
                        </tfoot>
                        <tbody id="tab">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" th:src="@{/js/network.js}"></script>
</body>
 <script>
     function makeRoom(){
           const param = $("#roomForm").serialize();
             network.sendApi2('/api/room/insert', param, function(data){
               alert("data!!!");
               alert("data:" + data);
               if(data.result == 'SUCCESS') {
                   location.href = '/';
               }
          });

     }
      $(function () {
        network.connectApi('/api/room/list',function(data){
             let str = "";
             for(let i = 0; i < data.data.length; i++){
             str += "<tr>";
               str += "<td>" + data.data[i].businessNo+  "</td>";
             str += "<td><a href='/roomDetail?roomCode="+ data.data[i].roomCode +"'>" + data.data[i].roomCode + "</a></td>";
             str += "<td>" + data.data[i].roomType +  "</td>";
             str += "<td>" + data.data[i].stock+  "</td>";
             str += "</tr>";
             }
             $("#tab").append(str);
         });
   });
 </script>

</th:block>
</html>